<div class="row">
  <div class="col-sm-9">
    <h1>Аверьянов Александр Леонидович</h1>
    <div>
      <b>Junior Ruby/RoR Developer, программист (Trainee)</b>, полная занятость, удаленная работа
    </div>
    <div class="shortInfo">
      <dl>
        <dt>Город:</dt><dd>Днепропетровск</dd>
        <dt>Готов к переезду:</dt><dd>Запорожье</dd>
      </dl>
    </div>
  </div>
  <div class="col-sm-3 photobox aligned-center">
    <img id="cphoto" src="http://i.work.ua/sent_photo/d/8/6/d860db4a6430db86f44a496a171115f6.jpg" alt="" width="100%">
  </div>
</div>

<div class="objective">
  <h2>Цель</h2>
  <p>Хочу начать карьеру веб-разработчика (Ruby/RoR, JS) и работать в команде, не просто в компании, а именно в команде, где все нацелены на общий положительный результат. Имею желание стать полезным команде своими сильными сторонами и, с помощью команды, свести на нет свои слабые стороны.</p>
</div>

<div class="experience">
  <h2>Опыт работы</h2>
  <div class="work1">
    <h3>Программист 1С</h3>
    <p>с 10.2012 по 04.2015 <span>(2 года 6 месяцев)</span><br>
    ООО "Один Сервис" (Франчайзи 1С)</p>
    <p>Начав работать в качестве стажера, выбрал для себя, в качестве основного направления, разработку мобильных приложений, использующих 1С в качестве БД. В составе группы из нескольких человек, разработали несколько приложений для платформы iOS и одно для Android (часть из них пошла в "продакт" http://www.1service.ru/price/mobile.php ). В этих проектах моя роль заключалась в разработке серверной части на платформе 1С. К сожалению, направление закрыли, группу распустили.<br>
    Впоследствии мною были разработаны еще несколько мобильных приложений для нужд автоматизации отдельных производственных бизнес-процессов на, во многом, экзотическом конструкторе мобильных приложений "Мобильная платформа 1С". Поскольку разработка велась под конкретного заказчика, то ни пресс-релизов, ни ссылок на Google Play или App Store предоставить не могу, однако могу предоставить описательную часть разработок в режиме диалога.</p>
  </div>
  <div class="work2">
    <h3>Инженер-электронщик</h3>
    <p>с 12.2011 по 09.2012 <span>(9 месяцев)</span><br>
    КУО УВО №28 (образование)</p>
    <p>Диагностика и наладка компьютерного оборудования. Установка ПО, консультация конечных пользователей по работе с ПО.</p>
  </div>
  <div class="work3">
    <h3>Ведущий специалист</h3>
    <p>с 12.2004 по 12.2013 <span>(9 лет)</span><br>
    ЧП Аверьянов А.Л. (автоматизация бух.учета на сторонних предприятиях)</p>
    <p>Консультации по автоматизированному ведению бухгалтерского учета, обучение специалистов и последующие консультации. Разработка небольших вспомогательных программ (FoxPro) для выборки данных из баз данных предприятиq. Разработка отчетов.</p>
  </div>
  <div class="work4">
    <h3>Специалист по автоматизации финансово хозяйственной деятельности</h3>
    <p>с 04.2003 по 12.2004 <span>(1 год 8 месяцев)</span><br>
    Корпорация "ПАРУС" (IT, автоматизация управления предприятием)</p>
    <p>Анализ потребностей предприятия, внедрение и сопровождение программных продуктов "Парус" на бюджетных предприятиях города и области. Разработка пользовательских отчетов, не предусмотренных в поставке, модификация существующих отчетов под нужды заказчика. Во время работы были разработаны и успешно применялись небольшие вспомогательные программы (Delphi) для автоматизации создания сложных отчетных форм в отдельных модулях комплекса.</p>
  </div>
</div>

<div class="education">
  <div class="main-ducation">
    <h2>Образование</h2>

    <h3>Среднее специальное</h3>
    <p>
      с 09.2009 по 07.2010<br>
      Дружковский профессиональный лицей, Оператор компьютерного набора, Дружковка (Донецкая обл.).
    </p>
  </div>
  <div class="additional-education">
    <h2>Дополнительное образование</h2>
    <p>Summer English Institute (2011 год (1 месяц))</p>
    <p>SoftServe IT Academy (не завершен) (10.2011-03.2012)</p>
    <p>JSBursa - ITBursa (2015, 2 месяца)</p>
    <p>RubyBursa (2015, 2.5 месяца)</p>
  </div>
</div>

<div class="skills">
  <h2>Профессиональные навыки</h2>
  <h3>Навыки работы с компьютером, ПО</h3>
  <p>
    Базовые навыки программирования на Ruby/Ruby on Rails<br>
    • Java Script, jQuery, Ajax<br>
    • HTML/CSS;<br>
    • Git/GitHub<br>
    • PostgreSQL<br>
    <br>
    Программирование 1С
  </p>
</div>

<div class="foreign-lang">
  <h2>Владение языками</h2>
  <p><b>Английский</b> — средний</p>
</div>

<div class="other-info">
  <h2>Дополнительная информация</h2>
  <p>
    <a href="https://ua.linkedin.com/in/alexaveryanov">Профиль в LinkedIn</a><br>
    <a href="https://github.com/phagoth">GitHub</a><br>
    <br>
    Люблю учиться чему-то новому, исследовать. Творческий человек. Сдерживающийся перфекционист. <br>
  </p>
</div>

</div>
