<h1> <%= "#{@user.full_name} (#{@user.email})" %>, добро пожаловать в LIT_CV </h1>

<p> 
  Вы успешно зарегистрировались в LIT_CV,
  ваш логин: <%= @user.login %>. 
</p>
<p>
  Для входа на сайт, воспользуйтесь ссылкой: <%= @url %>.
</p>
